/********************************************
   AUTHORS: Erwin Aligam / doTemplate
  *******************************************/

* { margin: 0; padding: 0; outline: 0; }

body {
	background-color:#0e9751;
	margin:0;
	padding:0;
	text-align:center;
	color:#333333;
	font-family:Trebuchet MS, Arial, Tahoma, sans-serif;
    font-size:16px;
}

label {
	font-weight: bold;
	padding-right: 20px;
}

input[type=text], input[type=password], input[type=submit], input[type=button], select {
	font-size: 14px;
	padding: 2px;
}


.admin_login, .asst_login {
	position: relative;
	display: block;
	float: left;
	width: auto;
	padding: 10px;
	border: 0px solid #ccc;
	padding-left:100px;
	padding-top:60px;
	height:160px;
}

.asst_login {
	margin-left: 3px;
}

.searchbox {
	margin: auto auto 20px; position: relative; top: 20px; padding: 5px; width: 510px; border: 1px solid #000;
	font-size: 18px;
}

.searcbox input[type=text], .searcbox input[type=password], .searcbox input[type=submit], .searcbox input[type=button], select {
	font-size: 18px;
	padding: 2px;
}

.menu li {
	position: relative;
	display: block;
	float: left;
	list-style: none;
	margin-right: 15px;
}

#profiles, #profile {
	clear: both;
}

#find_by_race_id, #find_by_nric { 
	text-align: center;
}

#wrapper {
	width:820px;
    margin:0 auto;
    text-align:left;
}




#content-wrapper {
	width: 780px;
	margin: 0px auto;
	padding: 0;
}


#header {
	position: relative;
    height:151px;
	padding: 0;	
	color: #fff;
	margin-left:auto;
    margin-right:auto;
	width:820px;
}


#app_header {
	clear: both;	
	margin: 0 auto; 
	padding: 0;
	font: bold 25px/40px "Trebuchet MS", Arial, Tahoma, Sans-serif;
	text-align: center;
	height: 40px;
	color:#FFFFFF;
	width: 780px;
	/*border-top :1px solid #FFFFFF ;
	border-bottom : 1px solid #FFFFFF ;	*/
}

 #nav1 {
	clear: both;	
	margin: 0 auto; 
	padding: 0;
	font: bold 16px/40px "Trebuchet MS", Arial, Tahoma, Sans-serif;
	height: 40px;
	width: 780px;
	/*border-top :1px solid #FFFFFF ;
	border-bottom : 1px solid #FFFFFF ;	*/
}

#nav1 ul {
	float: left;
	list-style: none;
	margin:0; 
	padding: 0 ;
}

#nav1 ul li {
	display: inline;
}

#nav1 ul li a {
	display: block;
	float: left;
	padding: 0 14px;
	color: #FFFFFF;
	text-decoration: none;
	text-align:center;
	border-right: 1px solid #FFFFFF ;
}

#nav1 ul li a:hover {
	color: #202020;	
}


li.current {
	background-color:#5FB999;
	color: #FFFFFF;
} 


#main {
	float: left;
	width: 100%;
	padding: 0px 0 0 0;
	margin: 0px 10px 0px 0px ; 
	display: inline;
}



#main p, #main h1, #main h2, #main h3, #main ol, #main ul, #main form {
	margin: 8px 0pt 0pt 0pt ;
}

#main p, #sidebar p {
	text-align:justify;
}


#detail_show
{
padding-top:20px;
padding-left:190px;
line-height:40px;
}
.main_content {
	padding-bottom: 20px;
}	

.main_content h1,.main_content h2,.main_content h3 , .main_content h4
{
	color:#FF3333;
}

.main_content ul {
	padding-left: 20px;
}

h1 {
	font-family:Trebuchet MS;
	font-size:20pt;	
	color:#909090;
	letter-spacing:3px;
}


h2 {
	font-family:Trebuchet MS;
	font-size:16pt;	
	color:#909090;
	letter-spacing:2px;
}

h3 {
	font-family:Trebuchet MS;
	font-size:14pt;	
	color:#909090;
}

a, a:visited {
	color:#FD7719;
	text-decoration:none;
}

a:hover {
	color:#909090;
	text-decoration:underline;
}


#sidebar {
	float: right;
	width: 210px;
	padding: 0px
	margin: 10px 0 0 0;	
	font-family:Trebuchet MS, sans-serif;
    font-size:9pt;
	color: #707070;
}


#sidebar *  {
	margin: 15px;
}

#sidebar h3 {
	font-family:Trebuchet MS, sans-serif;
    font-size:14pt;
	color: #AAAAAA;
}


#sidebar ul.sidemenu {
	list-style: none;
	text-align: left;
	margin: 7px 10px 8px 10px; 
	padding: 0;
	text-decoration: none;	
	border-top: 1px solid #d1d5e1;	
}

#sidebar ul.sidemenu li {
	list-style: none;
	padding: 4px 0 4px 0px;
	margin: 0 2px;	
	color: #777;	
	border-bottom: 1px solid #d1d5e1 ;
}


* html body #sidebar ul.sidemenu li {
	height: 1%;
}


#sidebar ul.sidemenu li a {
	text-decoration: none;	
	color: #202020;				
}


#sidebar ul.sidemenu li a:hover {	
	color: #FD7719 ;
}

#sidebar ul.sidemenu ul { margin: 0 0 0 5px; padding: 0; }
#sidebar ul.sidemenu ul li { border: none; }



#footer {
	color: #FFFFFF;
	clear: both;
	width:820px;
	height: 80px;
	text-align: center;	
	font-size: 8pt;	
}

#footer p { 
	padding: 10px 0;
	color: #040404;
	margin: 0;
}

#footer a {
	color: #040404;
	text-decoration: none; 
}


.clear { clear: both; }


a, a:visited {
	text-decoration: none;
	background: inherit;
	color: #FD7719; 
}

a:hover {
	text-decoration: underline;
	background: inherit;
	color: #909090;
}

img {
	padding:0;
	margin:20px 10px 10px 10px;
	border:0px solid #DFDFDF;
}


/* extended styles */

.layout {
	margin:0;
}

		
.bloc-txt, .bloc-txt-txt, .bloc-img-txt, .bloc-txt-img, .bloc-img {
	margin:0;
	padding:0 5px 0 5px;
	clear:both;
}


.bloc-txt-txt .richtext, .bloc-img-txt .richtext, .bloc-img-txt .image,
.bloc-txt-img .richtext, .bloc-txt-img .image  {
	margin:0 ;
	width:48%;
	float:left;
}


.bloc-sep {
	width:20px;
	margin:0;
	padding:0;
	float:left;
}

.tshirt_report td {
	padding: 2px;
	border: 1px solid #000;
	text-align: center;
}

.notices {
	font-size: 20px;
	text-align: center;
	color: #ff0000;
	font-weight: bold;
}
